body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

nav {
  background-color: #333;
  padding: 15px 15px 15px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: space-between;
}

h1 {
  text-align: center;
}

.title {
  color: white;
  text-decoration: none;
  font-size: 1.8rem;

  &:hover {
    color: #3787ee;
  }
}

nav div {
  text-decoration: none;
  color: #333;
  display: flex;
  justify-content: space-between;
}

.navIcon {
  padding: 0rem 2rem 0rem 2rem;
  color: white;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;

  :hover {
    color: #3787ee;
  }
}

.main {
  width: 50%;
  padding-top: 2%;
  margin: auto;
  display: flex;
  flex-direction:column;
  min-height: 100vh;
  justify-content: flex-start;
  align-items: center;
  background-position: center;
}

.question-panel {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 5rem;
}

.answer-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.answer-panel {
  background-color: #ddd;
  padding: 20px;
  text-align: center;
  border-radius: 10rem;
  cursor: pointer;

  &:hover {
    background-color: darkgray;
  }
}

.home-button-container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.home-button {
  background-color: #1c87c9;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  margin: auto;
  cursor: pointer;
  width: 90%;
  height: 25px;
  justify-content: center;
  display: flex;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;

  &:hover {
    opacity: 0.7;
  }
}

/* Login Seite */
.bodylogin {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.mainlogin {
  width: 350px;
  height: 500px;
  background: rgb(166, 166, 166);
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}

#go {
  display: none;
}

.signup {
  position: relative;
  width: 100%;
  height: 100%;
}

label {
  color: #000000;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

small {
  color: #bd0000;
  font-size: 10px;
  justify-content: left;
  display: flex;
  margin: 0px 60px 0px 60px;
  font-weight: lighter;

  
}
.logout-message{
  padding-top: 0.5rem;
  justify-content: center;
 }

#registerUsernameInput,
#registerEmailInput,
#registerPasswordInput,
#loginUsermailInput,
#loginPasswordInput {
  transition: background-color 0.5s ease;
  /* Smoother transition */
}

input {
  width: 60%;
  height: 20px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  margin-top: 1px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.buttonBig {
  width: 66%;
  height: 40px;
  margin: auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #508d28;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.buttonSmall {
  width: 30%;
  height: 20px;
  margin: 60px auto;
  padding-top: 8px;
  justify-content: center;
  text-align: center;
  display: block;
  color: #fff;
  background: #a6a6a6;
  font-size: 0.6em;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.buttonBig:hover {
  background: #7cc93f;
}

.buttonSmall:hover {
  background: #333333;
}

.login {
  height: 500px;
  background: #eee;
  transform: translateY(-190px);
  transition: 0.7s ease-in-out;
}

.login label {
  color: #508d28;
  transform: scale(0.5);
  padding-top: 15px;
}

#go:checked~.login {
  transform: translateY(-510px);
}

#go:checked~.login label {
  transform: scale(1);
  padding-top: 40px;
}

#go:checked~.signup label {
  transform: scale(0.5);
  margin-top: 20px;
}

/* Profil Seite*/

.center {
  position: relative;
}

.card {
  width: 550px;
  height: 350px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
  box-shadow: 5px 20px 50px #000;
  justify-content: center;
}

.card h1 {
  text-align: center;
}

.card .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#4f4e4e, #a6a6a6);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.card .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.card .additional .user-card::after {
  content: '';
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0, 0, 0, 0.025);
}

.card .additional .user-card .level,
.card .additional .user-card .points {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.card .additional .user-card .points {
  top: 85%;
}

.card .additional .user-card svg {
  top: 50%;
}

.card .additional .more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}

.card .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}

.card .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}

.card .additional .coords span+span {
  float: right;
}

.card .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

.card .additional .stats>div {
  flex: 1;
  text-align: center;
}

.card .additional .stats i {
  display: block;
}

.card .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.card .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}

/* Quiz */
/*
main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
}
*/
.dropdown-button {
  background-color: #04aa6d;
  padding: 16px;
  width: 150px;
  height: unset;
}

.dropdown {
  margin-top: 20px;
}

.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  width: 150px;
  position: absolute;
  right: 50%;
  margin-right: -75px;
}

.dropdown-content span {
  padding: 12px 16px;
  display: block;
  cursor: pointer;
}

.dropdown-content span:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-button {
  background-color: #3e8e41;
}

.gameobject-container {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
}

.empty:after {
  content: '';
  display: inline-block;
  width: 0;
}


.game-quiz-container {
  width: 60rem;
  height: 40rem;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}

.game-details-container {
  width: 80%;
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.game-details-container h1 {
  font-size: 1.2rem;
}

.game-question-container {
  width: 80%;
  height: 13rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #a6a6a6;
  border-radius: 10px;
}

.game-question-container h1 {
  font-size: 1.1rem;
  text-align: center;
  padding: 3px;
}

.game-options-container {
  width: 80%;
  height: 12rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.game-options-container span {
  width: 45%;
  height: 5rem;
  border: 2px solid darkgray;
  border-radius: 10px;
  overflow: hidden;
}

span label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s;
  font-weight: 600;
  color: rgb(7, 7, 7);
  align-content: center;
}

span label:hover {

  transform: scale(1.12);
  color: white;
  background: #7c7c7c;
}

input[type="radio"] {
  position: relative;
  display: none;
}


input[type=radio]:checked~.option {
  background: #1c87c9;
}

.next-button-container {
  width: 50%;
  height: 3rem;
  display: flex;
  justify-content: center;
}

.next-button-container button {
  width: 10rem;
  height: 3rem;
  border-radius: 10px;
  background: none;
  color: rgb(25, 25, 25);
  font-weight: 600;
  border: 2px solid #777777;
  cursor: pointer;
  outline: none;
}

.next-button-container button:hover {
  background-color: #1c87c9;
}

.modal-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-animation: fadeIn 1.2s ease-in-out;
  animation: fadeIn 1.2s ease-in-out;
}

.modal-content-container {
  height: 27rem;
  width: 25rem;
  background-color: rgb(43, 42, 42);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
}

.modal-content-container h1 {
  font-size: 1.3rem;
  height: 3rem;
  color: lightgray;
  text-align: center;
}

.modal-content-container h2 {
  font-size: 1rem;
  height: 3rem;
  color: #a6a6a6;
  text-align: center;
}

.grade-details {
  width: 15rem;
  height: 14rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.grade-details p {
  color: white;
  text-align: center;
}

.modal-button-container {
  height: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-button-container button {
  width: 15rem;
  height: 2rem;
  background: none;
  outline: none;
  border: 1px solid rgb(252, 242, 241);
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 10px;
}

.modal-button-container button:hover {
  background-color: rgb(83, 82, 82);
}