
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

nav {
    background-color: #333;
    padding: 15px 15px 0rem;
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-between;
}

.title{
    color: white;
    text-decoration: none;


    :hover{
        color: #3787ee;
    }
}

nav div {
    text-decoration: none;
    color: #333;
    display: flex;
    justify-content: space-between;

}
.navIcon{
    padding: 0rem 2rem 0rem 2rem;
    color: white;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;

    :hover{
        color: #3787ee;
    }
}

.main{
    width: 50%;
    padding-top: 2%;
    margin: auto;

}

.question-panel {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 5rem;
}

.answer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.answer-panel {
    background-color: #ddd;
    padding: 20px;
    text-align: center;
    border-radius: 10rem;
    cursor: pointer;

    &:hover{
        background-color: darkgray;

    }
}