<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <script src="http://localhost:35729/livereload.js" rel="preload" async></script>
    <script
            src="https://kit.fontawesome.com/dd8ea2651b.js"
            crossorigin="anonymous"
    ></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        nav {
            background-color: #333;
            padding: 15px 15px 0rem;
            text-align: center;
            color: white;
            display: flex;
            justify-content: space-between;
        }

        .title {
            color: white;
            text-decoration: none;
            font-size: 1.8rem;

            &:hover {
                color: #3787ee;
            }
        }

        nav div {
            text-decoration: none;
            color: #333;
            display: flex;
            justify-content: space-between;

        }
        .navIcon {
            padding: 0rem 2rem 0rem 2rem;
            color: white;
            text-decoration: none;
            margin-top: auto;
            margin-bottom: auto;

            :hover {
                color: #3787ee;
            }
        }
    </style>
</head>
<body>
<nav>
    <p><a class="title" href="/">100 Antworten</a></p>

    <div>
        <a class="navIcon" href="/profile"><i class="fa-regular fa-user"></i></a>
        <a class="navIcon" href="/user/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
    </div>

</nav>
<h1>Your Profile</h1>
</body>
</html>